
body {
    background-color: rgb(113, 158, 206);
    font-size: 1.5rem;
    font-family: 'Amatic SC', 'Amatic';
}

h1 {
    color: rgb(255, 255, 255);
    

    
}

.textBox{
    border-color: black;
    border-radius: 1rem;
    background-color: white;
    z-index: 5;
    text-align: center;
    font-family: 'Amatic SC', 'Amatic';
    font-size: larger;
    margin-inline: 10px;
    
   
}

img {
    height: 50rem;
}

#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#graphics{
    position: absolute;
    left: 25%;
    max-height: 50%;
    top: -3rem;
}

div.relative{ 
    position: relative;
    max-height: 100%;
    width: auto;
    z-index: 0;
    top:-2rem;
}


div.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8px;
    width: auto;
    z-index: 1;
}

#informationsRight{
    position: absolute;
    left: 68%;
    top: 38%;
    max-width: 25%;
    z-index: 2;
}
#informationsLeft{
    position: absolute;
    left: 3%;
    top: 38%;
    max-width: 25%;
    z-index: 2;
}

/* div.vagues{
    position: relative;
} */

#vagueanime{
    height: 8rem;
    position: absolute;
    top: 5rem;
	left: -15rem;
    z-index: 1;
}

#vagueanime2{
    height: 8rem;
    position: absolute;
    top: 5rem;
	left: 40rem;
    z-index: 1;
}

#vagueanime3{
    height: 8rem;
    position: absolute;
    top: 20rem;
	left: -25rem;
    z-index: 1;
}

#vagueanime4{
    height: 8rem;
    position: absolute;
    top: 20rem;
	left: 50rem;
    z-index: 1;
}

#vagueanime5{
    height: 8rem;
    position: absolute;
    top: 35rem;
	left: -8rem;
    z-index: 1;
}

#vagueanime6{
    height: 8rem;
    position: absolute;
    top: 35rem;
	left: 35rem;
    z-index: 1;
}