h1 {
    color: rgb(71, 145, 71);
    background-color: rgb(140, 222, 140);

}
div.relative{ 
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
    z-index: 2;
}

div.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    height: auto;
    width: auto;
    z-index: 1;
  

}